@charset "utf-8";

html {
	height: 100.2%;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding-top: 0;
	overflow: hidden;
	
	color: #fff;
	background-color: #fff;
	font-family: -apple-system,BlinkMacSystemFont,
				 "Segoe UI",Roboto,"Helvetica Neue",
				  Arial,sans-serif,"Apple Color Emoji",
				 "Segoe UI Emoji","Segoe UI Symbol";
}

/* Main Styles ---------------------------------------------------- */

#darkboard-box-top {
	position: absolute;
	z-index: 10;
	top: 15px;
	left: 15px;
	width: 100vw;
}

.logo {
	background-image: url(images/icon.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 20px;
	height: 80px;
	width: 80px;
	float: left;
}

.darkboard-infobar {
	border-radius: 3px;
	background-color: #222729;
	width: 100%;
}

.darkboard-info {
	padding-left: 30px;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 10px;
	font-weight: 450;
	font-size: 20px;
	height: 30px;
	padding: 5px;
}

/* Toolbar Left --------------------------------------------------- */

#toolbar-box-left {
	position: absolute;
	z-index: 10;
	top: 150px;
	left: 15px;
}

.toolbar {
	border-radius: 3px;
	color: #ccc;
	background-color: #222729;
	float: left;
}

.main-toolbar {
	height: auto;
}

.tools-menu {
	position: relative;
	list-style-type: none;
	padding: 7px;
	margin: 0px;
	width: 100%;
}

.tool-item {
	position: relative;
	margin-top: 12px;
	margin-bottom: 12px;
}

/*	Tools ---------------------------------------------------------- */

.item-border {
	position: relative;
	border: 1px solid transparent;
	border-radius: 5px;
	width: 40px;
	height: 40px;
	padding: 5px;
	cursor: pointer;
}

.item-border:hover {
	border: 1px solid #09bcff;
}

.color-border {
	padding: 10px;
	height: 30px;
	width: 30px;
}

.item {
	background-color: transparent;
	background-position: center;
	background-size: cover;
	padding: 0px;
	border: none;
	height: 40px;
	width: 40px;
	cursor: pointer;
}

.pencil	{ background-image: url(icons/white-pencil.png); }

.line	{ background-image: url(icons/white-line.png); }

.table	{ background-image: url(icons/white-table.png); }

.rubber	{ background-image: url(icons/white-rubber.png); }

.clear	{ background-image: url(icons/white-clear.png); }

.back	{ background-image: url(icons/white-back.png); }

.text	{ background-image: url(icons/white-text.png); }

.color-item {
	-webkit-appearance: none;
	appearance: none;
	padding: 0px;
	border: none;
	outline: none;
	height: 30px;
	width: 30px;
	cursor: pointer;
}

/* Dropdown Content ------------------------------------------------ */

.dropbtn {
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	padding: 5px;
	background-color: #222729;
	border-radius: 3px;
	z-index: 20;
	top: -8px;
	left: 70px;
}

.show {
	display: block;
}

.table-properties {
	position: relative;
	list-style-type: none;
	padding: 7px 15px;
	display: flex;
	flex-direction: row;
}

.table-item {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.table-item-border {
	
}

.table-item-border p {
	margin: 0px 0px 10px 0;
	text-align: center;
}

.table-input {
	background: none;
	border: none;
	color: #fff;
	width: 50px;
	height: 25px;
}

.table-submit {
	padding: 7px;
	display: flex;
	flex-direction: column;
}

.table-btn {
	border: none;
	padding: 6px;
	color: #fff;
	background-color: #00aeef;
	border-radius: 3px;
	cursor: pointer;
}

.table-btn:hover {
	background-color: #0089bc;
}

/* Toolbar Bottom ------------------------------------------------- */

#toolbar-box-bottom {
	position: absolute;
	z-index: 10;
	bottom: 15px;
	left: 15px;
}

.range-slider-container {
	padding: 20px 15px;
}

.slider-title {
	font-size: 15px;
	margin-top: 0px;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	margin: 0px;
	width: 220px;
	height: 5px;
	border-radius: 5px;
	outline: none;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
}

/* Canvas --------------------------------------------------------- */

#canvas-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#board {
	position: absolute;
	top: 0;
	left: 0;
	cursor: crosshair;
	width: 100%;
	height: 100%;
}
